.journal-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-label {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 150px;
}

.form-row {
  display: flex;
  align-items: center;
}
